<h1> <%= @page_title%> </h1>
<p></p>
<p></p>
<!-- <h3><%= @event.name %></h3> -->

Description: <%= simple_format @event.description %>

<p><%= link_to 'Back to index', :controller => 'events', :action => 'index' %></p>