<h1>Show Event</h1>
<p></p>
<p></p>
<h3>Name: <%= @event.name %></h3>

Description: <%= simple_format @event.description %>

<p><%= link_to 'Back to index', :controller => 'events', :action => 'index' %></p>